<menubar></menubar>
<div class="panel-body panelStart">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button">Application Name</button>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" id="textfield1" ng-model="appName">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button">Application Description</button>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" id="textfield2" aria-label="..." ng-model="appDescription">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>
<div class="row">
    <div class="col-sm-6">
        <!-- Used to display the question retrieved from the question.json file   -->
        <form class="row content-container  allignLine">
            <div class="col-md-12 panelStart2">
                <div class="tab-content">
                    <div ng-repeat="tab in tabs" role="tabpanel" class="tab-pane" id={{tab.tabID}} ng-class="{active: $index === 0}">
                        <div ng-repeat="tabChild in tab.tabContent">
                            <div class="form-group "  id="tab" ng-if="(tabChild.type === 'text') && (tabChild.page == 'right')">
                                <label for="" class="font-weight-500">
                                    {{tabChild.question}}
                                    <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                                </label>
                                <input type="text" class="form-control" ng-model="tabChild.selectedAnswer"
                                       name="website"
                                       data-fv-uri="true"
                                       data-fv-uri-message="The website address is not valid"
                                />
                            </div>
                            <div ng-if="(tabChild.type === 'radio') && (tabChild.page === 'right')">
                                <label class="font-weight-500">{{tabChild.question}}</label>
                                <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                                <div ng-repeat="option in tabChild.options">
                                    <input id={{tabChild.name}}{{option}} class="radio-custom" name={{tabChild.name}} type="radio" value={{option}} ng-model="tabChild.selectedAnswer">
                                    <label for={{tabChild.name}}{{option}} class="radio-custom-label font-weight-500">{{option}}</label>
                                </div>
                                <div ng-if="tabChild.selectedAnswer.toLowerCase() === 'yes'">

                                    <!--<label for="" class="radio-custom-label font-weight-500">Please specify...</label>-->
                                    <input type="text" class="form-control" ng-model="tabChild.ansDescription" placeholder="Please specify..."/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <!-- Used to display the question retrieved from the question.json file   -->
        <form class="row content-container  allignLine">
            <div class="col-md-12 panelStart2">
                <div class="tab-content">
                    <div ng-repeat="tab in tabs" role="tabpanel" class="tab-pane" id={{tab.tabID}} ng-class="{active: $index === 0}">
                        <div ng-repeat="tabChild in tab.tabContent">
                            <div class="form-group" ng-if="(tabChild.type === 'text') && (tabChild.page == 'left')">
                                <label for="" class="font-weight-500">
                                    {{tabChild.question}}
                                    <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                                </label>
                                <input type="text" class="form-control" ng-model="tabChild.selectedAnswer">
                            </div>
                            <div ng-if="(tabChild.type === 'radio') && (tabChild.page === 'left')">
                                <label class="font-weight-500">{{tabChild.question}}</label>
                                <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                                <div ng-repeat="option in tabChild.options">
                                    <input id={{tabChild.name}}{{option}} class="radio-custom" name={{tabChild.name}} type="radio" value={{option}} ng-model="tabChild.selectedAnswer">
                                    <label for={{tabChild.name}}{{option}} class="radio-custom-label font-weight-500">{{option}}</label>
                                </div>
                                <div ng-if="tabChild.selectedAnswer.toLowerCase() === 'yes'">
                                    <!--<label for="" class="radio-custom-label font-weight-500">Please specify...</label>-->
                                    <input type="text" class="form-control" ng-model="tabChild.ansDescription" placeholder="Please specify..."/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-sm-6">-->
        <!--&lt;!&ndash; Used to display the question retrieved from the question.json file   &ndash;&gt;-->
        <!--<form class="row content-container  allignLine">-->
            <!--<div class="col-md-12 panelStart2">-->
                <!--<div class="tab-content">-->
                    <!--<div ng-repeat="tab in tabs" role="tabpanel" class="tab-pane" id={{tab.tabID}} ng-class="{active: $index === 0}">-->
                        <!--<div ng-repeat="tabChild in tab.tabContent">-->
                            <!--<div class="form-group" ng-if="tabChild.type === 'text'">-->
                                <!--<label for="" class="font-weight-500">-->
                                    <!--{{tabChild.question}}-->
                                    <!--<i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>-->
                                <!--</label>-->
                                <!--<input type="text" class="form-control" ng-model="tabChild.selectedAnswer">-->
                            <!--</div>-->
                            <!--<div ng-if="tabChild.type === 'radio'">-->
                                <!--<label class="font-weight-500">{{tabChild.question}}</label>-->
                                <!--<i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>-->
                                <!--<div ng-repeat="option in tabChild.options">-->
                                    <!--<input id={{tabChild.name}}{{option}} class="radio-custom" name={{tabChild.name}} type="radio" value={{option}} ng-model="tabChild.selectedAnswer">-->
                                    <!--<label for={{tabChild.name}}{{option}} class="radio-custom-label font-weight-500">{{option}}</label>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<hr/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->

    <!--</div>-->
<!--</div>-->


<!-- Tab panes -->
<div class="button-align-right">
    <button class="btn btn-success" ng-click="TableUpdate()">Save</button>
</div>

<div data-ng-init="computeResult">
    <div ng-if="allList.length <= 0">
        <span class="label label-pill label-info">You have no application currently</span>
    </div>
    <div ng-if="allList.length > 0">
        <div class="row tableHeading">
            <div class="col-xs-12">
                <div class="col-lg-6 col-xs-12 ">
                    <span>Show</span>
            <span>
                <select name="example_length" aria-controls="example" class="form-control input-sm form-control-force-select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select></span>
                    <span>entries</span>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="" id="example_filter">
                        <span> <i class='glyphicon glyphicon-search'></i>  Search : </span>
                        <input type="search" class="form-control input-sm form-control-force-input" placeholder aria-controls="example" />
                    </div>
                </div>
            </div>
        </div>
        <table id="myTable" class="table table-striped table-bordered tableHeading table-home" cellspacing="0" width="100%">
            <thead>
            <tr class="tableHeading">
                <th class="table-home__name">Application Name</th>
                <th class="table-home__description">Application Description</th>
                <th>Assess Application</th>
                <th>Define Policy</th>
                <th>Dashboard</th>
                <th>Delete</th>
                <th>Download XML</th>
            </tr>
            </thead>
            <tbody>
               <tr ng-repeat="list in allList track by $index">
                   <td class="table-home__name">{{list.appName}}</td>
                   <td class="table-home__description">{{list.appDescription}}</td>
                   <td ng-click="editAssessment(list.id)">
                       <a><i class='glyphicon glyphicon-wrench'></i></a>
                   </td>
                   <td class="table-home__pd">
                       <span ng-repeat="policy in list.policyDefinition track by $index" ng-if="list.assessApp">
                           <a ng-click="editPolicy(list.id, policy.cnt)">
                               <i class='glyphicon glyphicon-cog'></i>
                           </a>
                       </span>
                   </td>
                   <td ng-click="dashboard(list.id)">
                       <a><i class='glyphicon glyphicon-new-window'></i></a>
                   </td>
                   <td ng-click="deleteApp(list.id)">
                       <a><i class='glyphicon glyphicon-trash'></i></a>
                   </td>

                   <td ng-if="list.policyCheck">
                       <a ng-click="readFile()"><i class='glyphicon glyphicon-download-alt'></i></a>




                   <!--<td ng-click="readFile()">-->
                       <!--<a><i class='glyphicon glyphicon-download-alt'></i></a>-->
                   <!--</td>-->

                   <span ng-if="list.policyCheck">
                     <a href="http://10.44.99.41/NTTCS2.xml" target="_blank">
                         <i class='glyphicon glyphicon-download-alt'></i>
                     </a>
                   </span>
                   </td>
               </tr>
            </tbody>
        </table>
    </div>
</div>

<!--&lt;!&ndash;delete &ndash;&gt;-->
<!--<button ng-click="readFile()">xml</button>-->
