<menubar></menubar>
<div data-ng-init="computeResult">
<table  width="100%" class="table table-striped table-bordered table-hover tableFont" >
    <thead>
    <tr>
        <th></th>
        <th>Application Name</th>
        <th>Application Function</th>
        <th>FQDN</th>
        <th>URI</th>
        <th>Assess Application</th>
        <th>Design Policy</th>
        <th>Download XML </th>
        <th>Dashboard</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="app in allSavedApps">
        <td >
            <a data-toggle="collapse" href="#{{app.id}}">
                <i class="glyphicon glyphicon-collapse-down"></i>
            </a>
        </td>
        <td >{{ app.appName }}</td>
        <td id="#{{app.id}}">
            <ul class="positionList" ng-repeat="uri in app.uris">
                    {{uri.uriFunction}}
            </ul>
        </td>
        <td>
            {{app.appFqdn}}
        </td>
        <td>
            <ul class="positionList" ng-repeat="uri in app.uris" >
                    {{uri.name}}
            </ul>
        </td>
        <td align="center" ng-click="editAssessment(app.id)">
            <a><i class='glyphicon glyphicon-wrench'></i></a>
        </td>
        <td >

        </td>
        <td></td>
        <td align="center" ng-click="dashboard(app.id)" ng-style="{'background-color': getCValue(app.id) >= 75 ?  'red': 'white'}">
            <a>{{getCValue(app.id)}} <i class='glyphicon glyphicon-new-window'></i></a>
        </td>
        <td align="center" ng-click="editAppInfo(app.id)">
            <a><i class='glyphicon glyphicon-pencil'></i></a>
        </td>
        <td align="center" ng-click="deleteApp(app.id)">
            <a><i class='glyphicon glyphicon-trash'></i></a>
        </td>
    </tr>
    </tbody>
</table>


</div>