tr td:first-child{
  font-weight: bold;
}




.td_2 {
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
}

.tableFont{
  font-size: 12px;

}

.editColumn{
  border-left: none;
}


.positionList{
list-style: none;
  padding-left: 0;

}

.tableWidth{
  width: 100%;
}

.tableLines{
  border: 1px solid black;
  border-collapse: collapse;
}

.thFormat{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;

}

.tdFormat{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.centerHeading{
  text-align: center;
}

.pdf-tables{

  margin-left: 25px;
  margin-right: 25px;
  border: solid 3px lightgray;
  margin-bottom: 25px;

  table{
    thead{
      th{
        background-color: steelblue;
        color : white;
      };
    }
  }
}
