<div>
    <table class="table table-bordered" ng-if="selectedAppType.value * 1 === 1 && uris.length > 0">
        <thead>
            <tr>
                <th></th>
                <th class="td_2" ng-repeat="uri in uris">{{uri.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                   <div class="table-div-td" ng-repeat="(key, col) in uris[0].customOptions">
                       {{col.label}}
                   </div>
                </td>
                <td class="td_2" ng-repeat="uri in uris">
                   <div  class="table-div-td"  ng-repeat="(key, col) in uri.customOptions">
                        <div ng-if="col.type === 'dropdown'">
                            <div ng-dropdown-multiselect="" options="col.options" selected-model="col.optionsdata" ></div>
                        </div>
                        <div ng-if="col.type === 'checkbox'">
                            <input id={{key}}{{uri.id}} class="checkbox-custom " name={{uri.id}} type="checkbox" ng-click="checkItems(col)">
                            <label for={{key}}{{uri.id}} class="checkbox-custom-label font-weight-500"></label>
                        </div>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered " ng-if="selectedAppType.value * 1 === 2">
    <thead>
    <tr>
        <th></th>
        <th class="td_2">{{selectedKnownApp.label}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key,col) in knownAppOptions">
        <td >{{col.label}}</td>
        <td class="td_2">
            <div ng-if="col.type === 'dropdown'">
                <div ng-dropdown-multiselect="" options="col.options" selected-model="col.optionsdata"></div>
            </div>
            <div ng-if="col.type === 'checkbox'">
                <input id={{col.label}}{{selectedKnownApp}} class="checkbox-custom " name={{selectedKnownApp}} type="checkbox">
                <label for={{col.label}}{{selectedKnownApp}} class="checkbox-custom-label font-weight-500"></label>
            </div>
        </td>
    </tr>
    </tbody>
   </table>
   <table class="table table-bordered " ng-if="useFqdn">
        <thead>
        <tr>
            <th></th>
            <th class="td_2">{{appFqdn}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key,col) in knownAppOptions">
            <td >{{col.label}}</td>
            <td class="td_2">
                <div ng-if="col.type === 'dropdown'">
                    <div ng-dropdown-multiselect="" options="col.options" selected-model="col.optionsdata"></div>
                </div>
                <div ng-if="col.type === 'checkbox'">
                    <input id={{col.label}}{{selectedKnownApp}} class="checkbox-custom " name={{selectedKnownApp}} type="checkbox">
                    <label for={{col.label}}{{selectedKnownApp}} class="checkbox-custom-label font-weight-500"></label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


