.tableFontBody{
  font-family: "Roboto", sans-serif;
  font-size: 11px;

}

.tableFontHead{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.modalTableFontHead{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}