@import "../qualysScan/css/font-awesome.min.css";

.tableFontBody{
  font-family: "Roboto", sans-serif;
  font-size: 11px;

}

.tableFontHead{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.modalTableFontBody{
  font-family: "Roboto", sans-serif;
  font-size: 11px;

}

.modalTableFontHead{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.boxStyle{
  color:steelblue;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.boxStyle1{
  color:white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

