
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #222d32;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-top: -20px;
  margin-left: -20px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}


#sidebar li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#sidebar li a:hover {
  background-color: #555;
  color: white;}




.topnav {
  overflow: hidden;
  background-color: #3c8dbc;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: 200px;
  font-family: "Roboto", sans-serif;

}

.allignLeft {
  margin-left: 200px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size:11px;
}
.allignLeft1 {
  margin-left: 1100px;
  font-family: "Roboto", sans-serif;
  font-size:11px;
}

.textFormat {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;

}

.textFormat1{
  float: left;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 800px;
}

.btn-xlarge {
  background-color: #3c8dbc;
  margin-top: -2px;
  line-height: normal;
  padding: 9px 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 6px;
}




