
<div class="login-page1">
    <div class="form1">
        <form class="login-form">
            <label>Administration Portal</label>
            <br>
            <br>
            <br>
            <input type="text" placeholder="username" ng-model="adminName"/>
            <input type="password" placeholder="password" ng-model="adminPassword"/>
            <button ng-click="adminLogin()" >login</button>

        </form>
    </div>
</div>


<div class="modal fade" id="errorModal1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>The Username or password that you've entered is incorrect. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>