.def_font {font-family:"Segoe UI Light",Arial,"Times New Roman"}

.bottom-spaced-10 {
  margin-bottom : 10px;
}

.list-cont-div{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-left: 14px;
  margin-right: 14px;
}

.list-checkbox-div {
  border: 1px solid lightgray;
  margin-bottom: 5px;
}