.def_font {font-family:"Segoe UI Light",Arial,"Times New Roman"}

.bottom-spaced-10 {
  margin-bottom : 10px;
}

.list-cont-div{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-left: 14px;
  margin-right: 14px;
}

.list-checkbox-div {
  border: 1px solid lightgray;
  margin-bottom: 5px;
}

.remove{
  background: #C76868;
  color: #FFF;
  font-weight: bold;
  font-size: 21px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 4px 9px;
  vertical-align: top;
  line-height: 100%;
  margin-top: 5px;
}

.add_but{
  background: green;
  color: #FFF;
  font-weight: bold;
  font-size: 21px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 4px 9px;
  vertical-align: top;
  line-height: 100%;
  margin-top: 5px;
}


.tabBut_size{
  width: 150px;
}

.div-50-percent{
  width: 50%;
  float: left;

  label {
    font-size: 12px;
  }
}



