<menubar></menubar>
<div class="container def_font">
    <div class="row bottom-spaced-10">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button">Application Name</button>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" id="textfield1" ng-model="appName">
            </div><!-- /input-group -->
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Application Type</span>
                <select class="form-control" ng-options="item as item.label for item in appTypes track by item.value" ng-model="selectedAppType"></select>
            </div>
        </div>
    </div>
    <div class="row bottom-spaced-10">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button">Full Qualified Domain Name (Main)</button>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" id="appFqdn" ng-model="appFqdn">
            </div><!-- /input-group -->
        </div>

        <div class="col-sm-6" ng-if="selectedAppType.value === 2">
            <div class="input-group">
                <span class="input-group-addon">{{KnownApplications.question}}</span>
                <select class="form-control" ng-options="item as item.label for item in KnownApplications.options track by item.value" ng-model="selectedKnownApp"></select>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="row bottom-spaced-10">
        <div>
            <div class="col-sm-6">
            <div class=" list-cont-div" ng-if="selectedAppType.value === 1">
                <div class="list-checkbox-div" ng-repeat="(key, value) in customOptions">
                    <input id="custom-option-{{key}}" class="checkbox-custom" name="customOptions" type="checkbox" ng-model="value.checked" value={{value.value}}>
                    <label for="custom-option-{{key}}" class="checkbox-custom-label font-weight-500">{{value.label}}</label>
                </div>
            </div>
            <div  class=" list-cont-div" ng-if="selectedAppType.value === 2">
                <div class="list-checkbox-div" ng-repeat="(key, value) in knownAppOptions">
                    <input id="known-app-{{key}}" class="checkbox-custom" name="customOptions" type="checkbox" ng-model="value.checked" value={{value.value}}>
                    <label for="known-app-{{key}}" class="checkbox-custom-label font-weight-500">{{value.label}}</label>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
                <fieldset data-ng-repeat="uri in uris" ng-if="selectedAppType.value === 1">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button">Uniform Resource Identifier (URI)</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control"  ng-model="uri.name" placeholder="Enter URI details">
                    </div><!-- /input-group -->
                </fieldset>
                <button class="add_but" ng-if="selectedAppType.value === 1" ng-click="addNewUri()">+</button>
                <button class="remove" ng-if="selectedAppType.value === 1"  ng-click="removeUri()">-</button>
                <fieldset data-ng-repeat="uri in uris" ng-if="selectedAppType.value === 2">
                    <div class="input-group " >
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button">Uniform Resource Identifier (URI)</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control"  ng-model="uri.name" placeholder="Enter URI details">
                    </div>
                </fieldset>
                <button class="add_but" ng-if="selectedAppType.value === 2" ng-click="addNewUri()">+</button>
                <button class="remove" ng-if="selectedAppType.value === 2"  ng-click="removeUri()">-</button>
                <br>
                <br>
                <fieldset data-ng-repeat="parameter in parameters" ng-if="selectedAppType.value === 1">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button">Parameter</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control"  ng-model="parameter.name" placeholder="Enter parameter details">
                    </div><!-- /input-group -->
                </fieldset>
                <button class="add_but" ng-if="selectedAppType.value === 1" ng-click="addNewParameter()">+</button>
                <button class="remove" ng-if="selectedAppType.value === 1"  ng-click="removeParameter()">-</button>
                <fieldset data-ng-repeat="parameter in parameters" ng-if="selectedAppType.value === 2">
                    <div class="input-group " >
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button">Parameter</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control"  ng-model="parameter.name" placeholder="Enter parameter details">
                    </div>
                </fieldset>
                <button class="add_but" ng-if="selectedAppType.value === 2" ng-click="addNewParameter()">+</button>
                <button class="remove" ng-if="selectedAppType.value === 2"  ng-click="removeParameter()">-</button>
            </div>

    </div>

</div>



    <!--<div id="ParametersDisplay">-->
        <!--{{ parameters }}-->
    <!--</div>-->

    <!--<div id="UrisDisplay">-->
        <!--{{ uris }}-->
    <!--</div>-->

    <div class="button-align-right">
        <button class="btn btn-success" ng-click="SaveappDefn()">Save</button>
    </div>
















