<!-- menu bar--->
<menubar></menubar>
<div ng-show="!showResult">
    <div class="row bottom-spaced-20">
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button">Application Name</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" ng-model="appName" disabled />
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">

                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button">Application Description</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" aria-label="..." ng-model="appDescription" disabled />
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
    <div  class="AssessmentFont">
        <!-- Nav tabs used to display the Tab Options retrieved from the question.json file "tabName" -->
        <ul class="nav nav-tabs" role="tablist">
            <li ng-repeat="tab in tabs" role="presentation" ng-class="{active: $index === 0}">
                <a href= {{tab.href}} aria-controls={{tab.tabID}} role="tab" data-toggle="tab">
                    {{tab.tabName}}
                </a>
            </li>
        </ul>
        <div class="alert alert-danger top-spaced-10" ng-show="!isValid() && buttonClicked">
            <strong>Error!</strong> You have one or more question(s) unanswered.
        </div>
        <!-- Used to display the question retrieved from the question.json file   -->
        <form class="row content-container">
            <div class="col-md-12">
                <div class="tab-content">
                    <div ng-repeat="tab in tabs" role="tabpanel" class="tab-pane" id={{tab.tabID}} ng-class="{active: $index === 0}">
                        <div ng-repeat="tabChild in tab.tabContent">
                            <div class="form-group" ng-if="tabChild.type === 'text'">
                                <label for="" class="font-weight-500">
                                    {{tabChild.question}}
                                    <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                                </label>
                                <input type="text" class="form-control" ng-model="tabChild.selectedAnswer">
                            </div>
                            <div ng-if="tabChild.type === 'radio'">
                                <label class="font-weight-500">{{tabChild.question}}</label>
                                <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                                <div ng-repeat="option in tabChild.options">
                                    <input id={{tabChild.name}}{{option}} class="radio-custom" name={{tabChild.name}} type="radio" value={{option}} ng-model="tabChild.selectedAnswer">
                                    <label for={{tabChild.name}}{{option}} class="radio-custom-label font-weight-500">{{option}}</label>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-right">
                <input type="submit" value="cancel" class="btn btn-warning" ng-click="cancelAssessment()"/>
                <input type="submit" value="submit" class="btn btn-success" ng-click="submit()"/>
                <!--<input type="submit" value="Define Policy" class="btn btn-success" ng-click="CreatePolicy()"/>-->
                <!--<input type="submit" value="Generate PDF" class="btn btn-success" ng-click="generatePDF()"/>-->
            </div>
        </form>
        <!-- Tab panes -->

    </div>
</div>
<div ng-show="showResult">
    <table class="table table-condensed" id="assessment-details">
        <thead>
        <tr>
            <th>Application Name</th>
            <th>Application Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{toPrintData.appName}}</td>
            <td>{{toPrintData.appDescription}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div id="assessment-ans-table">
        <table  ng-repeat="selectedAnswer in toPrintData.content" class="table table-condensed" id={{'id'+$index}}>
            <thead>
            <tr>
                <th>{{selectedAnswer.tabName}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tab in selectedAnswer.tabContent">
                <td>{{tab.question}}</td>
                <td>{{tab.selectedAnswer}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-right ">
        <input type="submit" value="Print PDF" class="btn btn-success" ng-click="printPDF()"/>
        <input type="submit" value="Cancel" class="btn btn-danger" ng-click="cancel()"/>
    </div>
</div>

