<div class="col-md-12">
    <div class="tab-content">
        <div ng-repeat="tab in newPolicy.knownAttacks" role="tabpanel" class="tab-pane" id={{tab.tabID}} ng-class="{active: $index === 0}">
            <div ng-repeat="tabChild in tab.tabContent" ng-click="processSelectedAnswer(tabChild, $index)" >
                <div class="form-group" ng-if="tabChild.type === 'text'">
                    <label for="" class="font-weight-500">
                        {{tabChild.question}}
                        <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                    </label>
                    <input type="text" class="form-control" ng-model="tabChild.selectedAnswer">
                </div>
                <div ng-if="tabChild.type === 'radio'">
                    <label class="font-weight-500">{{tabChild.question}}</label>
                    <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                    <div ng-repeat="option in tabChild.options">
                        <input id={{tabChild.name}}{{option}} class="radio-custom" name={{tabChild.name}} type="radio" value={{option}} ng-model="tabChild.selectedAnswer">
                        <label for={{tabChild.name}}{{option}} class="radio-custom-label font-weight-500">{{option}}</label>
                    </div>
                    <div ng-if="tabChild['hasFurtherOptions'][currentIndex]">

                        <div class="panel panel-default" ng-repeat="furtherOpt in tabChild.furtherOptions[boolOption]">
                            <div class=" " ng-repeat="opt in furtherOpt">
                                    <div  ng-if="opt.type === 'textbox'">

                                            <div class="input-group  ">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">{{opt.label}}</button>
                                                </div><!-- /btn-group -->
                                                <input type="text" class="form-control"placeholder="">
                                            </div><!-- /input-group -->

                                    </div>
                                    <div ng-if="opt.type === 'select'">

                                            <div class="input-group ">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">{{opt.label}}</button>
                                                </div><!-- /btn-group -->
                                                <div class="form-control">
                                                    <select>
                                                        <option value="">123432423</option>
                                                    </select>
                                                </div>
                                            </div><!-- /input-group -->


                                    </div>
                                    <div ng-if="opt.type === 'dropdownSelect'">

                                            <div class="input-group ">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">{{opt.label}}</button>
                                                </div><!-- /btn-group -->
                                                <div ng-dropdown-multiselect="" options="geolocaCount" selected-model="geolocaCount1"></div>
                                            </div><!-- /input-group -->

                                    </div>
                            </div>
                            <div>
                                <button class=add_but ng-click="addFurtherOption(tabChild)">+</button>
                                <button class=remove ng-click="removeFurtherOption(tabChild)">-</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-if="tabChild.type === 'checkbox'">
                    <label class="font-weight-500">{{tabChild.question}}</label>
                    <i class="glyphicon glyphicon-question-sign question-sign-color" data-toggle="tooltip" title={{tabChild.description}}></i>
                    <div ng-repeat="option in tabChild.options">
                        <input id={{tabChild.name}}{{option}} class="checkbox-custom" name={{tabChild.name}} type="checkbox" value={{option}}
                               ng-checked="tabChild.selectedAnswer.indexOf(option) > -1" ng-click="toggleSelection(tabChild, option)">
                        <label for={{tabChild.name}}{{option}} class="checkbox-custom-label font-weight-500">{{option}}</label>
                    </div>
                </div>
                <hr/>
            </div>
        </div>



    </div>
</div>