<menubar></menubar>


<div class="w3-row-padding ">
    <div class="w3-threequarter">
        <h4 class="w3-center font_color">Welcome to NTT Com Security </h4>
        <div class="def_font w3-center font_color">To secure an application, click the create application button below</div>
        </br>
        <div>
            <img class="img_position" src={{assesspic}}>
        </div>
        <div class="button-height def_font">
            <!-- Create Application -->
            <button type="button" class="btn btn-success button-height__right" ng-click="create()" value="Your Applications">Your Applications</button>
            <!-- Your Applications -->
            <button type="button" class="btn btn-success button-height__left" ng-click="define()" value="Create Application">Create Application</button>
        </div>
    </div>
    <div class="w3-quarter def_font">
        <div class="col-md-1 pgLine">
            <div class="pgLine__line"></div>
        </div>
        <div class=" textPosition">
            <div class="text_size ">
                </br>
                <div>Your Account</div>
                </br>
                <div class="textcolor">License</div>
                </br>
                <div class="textcolor">Details</div>
            </div>
        </div>
    </div>

</div>