<menubar></menubar>




<div class=" row 150% w3-row-padding ">
    <div class="8u 12u$(medium) ">
        <!--Implement company name change-->

        <section class="box">
            <div class="major">
                <h2 class="w3-center font_color">Welcome to NTT Security </h2>
                <br>
                <p class=" w3-center font_color">To secure an application, click the create application button below</p>
                </br>
            </div>
            <br>

            <div>
                <img class="img_position" src={{assesspic}}>
            </div>



        </section>
        <div class="button-height ">
            <!-- Create Application -->
            <button type="button" class="btn btn-info button-height__right" ng-click="myApps()" value="Your Applications">Your Applications</button>
            <!-- Your Applications -->
            <button type="button" class="btn btn-info button-height__left" ng-click="define()" value="Create Application">Create Application</button>
        </div>


    </div>
    <div class="4u 12u$(medium) def_font">

        <section class="box">
            <div class=" ">
                <div class="text_size ">
                    </br>
                    <div>Your Account</div>
                    </br>
                    <div class="textcolor">License</div>
                    </br>
                    <div class="textcolor">Details</div>
                    </br>
                    <!--added mouse over icon-->
                    <div  ng-click="manageXML()" style="cursor:pointer" class="textcolor" >Manage your Qualys Scan Reports</div>

                </div>
            </div>
        </section>

    </div>

</div>

<!--newpage-->


